<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Login Gov Demo</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" />
    <base href="/" />
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="./style.css" />
    <script type="importmap">
        {
            "imports": {
                "bootstrap": "/webjars/bootstrap/dist/js/bootstrap.esm.min.js",
                "@popperjs/core": "/webjars/popperjs__core/lib/index.js",
                "htmx": "/webjars/htmx.org/dist/htmx.min.js",
                "md": "https://md-block.verou.me/md-block.js"
            }
        }
    </script>
    <script type="module">
        import 'bootstrap';
        import 'htmx';
        import 'md';
    </script>

</head>

<body>
    <header>
        <nav class="nav nav-tabs">
            <a class="nav-link active" data-bs-toggle="tab" data-bs-target="#about" href="#">About</a>
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#login-gov-setup" href="#">Login Dot Gov Setup</a>
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#your-development-info" href="#">Development</a>
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#your-development-guide" href="#">Guide</a>
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#your-application" href="#">Your Application</a>
        </nav>
    </header>
    <main>
        <div class="tab-content">
            <div class="tab-pane fade show" id="your-application" role="tabpanel">
                <div class="jumbotron">
                    <h1 class="display-4">Your application</h1>
                    <a class="btn btn-primary" id="refresh-your-application">
                        Refresh your application
                    </a>
                    <hr>
                </div>
                <div id="your-application-placeholder" hx-trigger="click from:#refresh-your-application" hx-get="./your-application-todo.html">
                    Loading... 
                </div>
            </div>

            <div class="tab-pane fade show active" id="about" role="tabpanel">
                <div class="jumbotron">
                    <h1 class="display-4">About</h1>
                    <p class="lead">What is login dot gov and what are we doing?</p>
                </div>

                <div class="container nav-container">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="./images/logingov-logo.png" alt="login dot gov logo">
                        <div class="card-body">
                            <h5 class="card-title">Login Dot Gov</h5>
                            <p class="card-text">Login dot gov is a 3rd party authentication service that you can
                                integrate into your application to authenticate users with MFA.</p>
                            <a href="https://developers.login.gov/" class="btn btn-primary" target="_blank">Developer
                                Dashboard</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="./images/logingov-logo.png" alt="login dot gov logo">
                        <div class="card-body">
                            <h5 class="card-title">This demo</h5>
                            <p class="card-text">In this demo, we are going to create a demo application that uses
                                login.gov's sandbox environment to authenticate users. We are using VS Code and Spring Initialzr</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade show" id="login-gov-setup" role="tabpanel">
                <div class="jumbotron">
                    <h1 class="display-4">Login Dot Gov Setup</h1>
                    <p class="lead">Create resources in login dot gov.</p>
                </div>
                <div class="container nav-container">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="./images/logingov-logo.png" alt="login dot gov logo">
                        <div class="card-body">
                            <h5 class="card-title">Create a user account</h5>
                            <p class="card-text">This will be your personal account that you will use, not only to
                                create the resources in login.gov, but also to sign in to the demo application</p>
                            <a href="https://idp.int.identitysandbox.gov/sign_up/enter_email/" class="btn btn-primary"
                                target="_blank">Create account</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="./images/logingov-logo.png" alt="login dot gov logo">
                        <div class="card-body">
                            <h5 class="card-title">Create a team</h5>
                            <p class="card-text">An app must be associated with a team. For agency, use<u
                                    class="text-danger">Tennessee Valley
                                    Authority</u></p>
                            <a href="https://dashboard.int.identitysandbox.gov/teams" class="btn btn-primary"
                                target="_blank">Create team</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="./images/logingov-logo.png" alt="login dot gov logo">
                        <div class="card-body">
                            <h5 class="card-title">Create an application</h5>
                            <ul class="card-text">
                                <li>Set authentication protocol to <u class="text-danger">OpenID Connect Private Key JWT</u></li>
                                <li>Set Level of Service to <u class="text-danger">Authentication only</u></li>
                                <li>Check <u class="text-danger">email</u> for Attribute Bundle</li>
                                <li>For Issuer, I'll be using <u class="text-danger">gov:gsa:openidconnect.profiles:sp:sso:tva:kuhn_demo</u></li>
                                <li>Follow their instructions to create a public/private key. For the purposes of this
                                    demo, I'm putting both in <u class="text-danger">src/main/resources/security</u> of
                                    this project</li>
                                <li>For Redirect URIs, I'll be using <u class="text-danger">http://localhost:8080/Redirect</u></li>
                            </ul>
                            <a href="https://dashboard.int.identitysandbox.gov/service_providers"
                                class="btn btn-primary" target="_blank">Create application</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade show" id="your-development-info" role="tabpanel">
                <div class="jumbotron">
                    <h1 class="display-4">Info</h1>
                    <p class="lead">You will be modifying these files</p>
                </div>
                <div class="container nav-container">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="./images/html.png" alt="html icon">
                        <div class="card-body">
                            <h5 class="card-title">Front-end</h5>
                            <p class="card-text"><u class="text-danger">src/main/resources/static/your-application-todo.html</u></p>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="./images/padlock-open.png" alt="unauthenticated icon">
                        <div class="card-body">
                            <h5 class="card-title">Unauthenticated Back-end</h5>
                            <p class="card-text"><u class="text-danger">kuhn.example.logingovdemo.YourUnauthenticatedRestController.java</u></p>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="./images/padlock-closed.png" alt="authenticated icon">
                        <div class="card-body">
                            <h5 class="card-title">Authenticated Back-end</h5>
                            <p class="card-text"><u class="text-danger">kuhn.example.logingovdemo.YourAuthenticatedRestController.java</u></p>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="./images/share.png" alt="share icon">
                        <div class="card-body">
                            <h5 class="card-title">See your app</h5>
                            <p class="card-text">Your app will be in the <u class="text-danger">Your Application</u> tab.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade show" id="your-development-guide" role="tabpanel">
                <div class="container nav-container-vertical">
                    <div class="card" style="width: 45rem;">
                        <div class="card-body">
                            <h5 class="card-title">Create a test endpoint</h5>
                            <p class="card-text">Just to demonstrate how to request from the front-end to the back end, add the following to <u class="text-danger">kuhn.example.logingovdemo.YourUnauthenticatedRestController</u>.</p>
                            <md-block>
                                ``` java
                                @GetMapping("/random")
                                public String randomNumber() {
                                    return String.valueOf(new Random().nextInt());
                                }
                                ```
                            </md-block>

                            <p class="card-text">And add the following to <u class="text-danger">src/main/resources/static/your-application-todo.html</u>.</p>
                            <md-block>
                                ```html
                                &lt;a class="btn btn-primary" hx-trigger="click" hx-get="/random">
                                    Click me
                                &lt;/a>
                                ```
                            </md-block>
                            <p class="card-text">Now, if you click on the <u class="text-danger">Your Application</u> tab, you should see a random number displayed.</p>
                        </div>
                    </div>
                    <div class="card" style="width: 45rem;">
                        <div class="card-body">
                            <h5 class="card-title">Create an authenticated endpoint</h5>
                            <p class="card-text">Let's suppose that one of the endpoints needs to be authenticated.</p>
                            <p class="card-text">Modify <u class="text-danger">kuhn.example.logingovdemo.YourAuthenticatedRestController</u>.</p>
                            <md-block>
                                ``` java
                                @GetMapping("/random")
                                public String randomNumber() {
                                    return "(auth) " + String.valueOf(new Random().nextInt());
                                }
                                ```
                            </md-block>

                            <p class="card-text">And add the following to the end of <u class="text-danger">src/main/resources/static/your-application-todo.html</u></p>
                            <md-block>
                                ```html
                                &lt;a class="btn btn-primary" hx-trigger="click" hx-get="/auth/random">
                                    (auth) Click me
                                &lt;/a>
                                ```
                            </md-block>

                            <p class="card-text">Now we just need to <u class="text-danger">lock</u> that endpoint down!</p>
                        </div>
                    </div>
                    <div class="card" style="width: 45rem;">
                        <div class="card-body">
                            <h5 class="card-title">More MORE stuff</h5>
                            <p class="card-text">There's more content down here.</p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </main>
</body>
</html>